body, html {
  margin: 0;
  padding: 0;
}

/* Encabezado */
.Titulo {
  text-align: center;
  margin: 0 auto;
  color: rgb(250, 240, 255);
  margin-bottom: 0;
  padding-bottom: 0;
}

#titulo2, #titulo2 h2 {
  background-color: rgb(91, 13, 13);
  color: rgb(250, 240, 255);
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

/* Panel lateral */
.panel_lateral {
  background-color: rgb(171, 15, 57);
  width: 250px;
  min-height: 100vh;   /* ocupa toda la ventana */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Items del menú */
.panel_lateral .list-group-item {
  background-color: transparent;
  border: none;
  color: #fff;
  padding-top: 30px;
}

aside .list-group {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Sección principal */
section {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: calc(100% - 250px); /* se ajusta al espacio restante */
}

/* Íconos */
.fa-duotone {
  margin: 10px;
}

/* Inputs */
.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Botones */
.btn {
  background-color: rgb(171, 15, 57);
  border: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: rgb(140, 10, 45);
}

/* Tarjetas */
.card {
  margin-top: 0; /* pegada al borde superior */
}